
.DS_Store
.idea
.vscode

node_modules
bower_components

package-lock.json
yarn-debug.log*
yarn-error.log

.docz
.next
dist
.cache
out
.log
storybook-static
reports/

.env
*.pem
