@import url('https://fonts.googleapis.com/css?family=Marmelad&display=swap&subset=cyrillic');
@import "parts/uikit";
@import "parts/comments";
@import "parts/forms";

body {
  // background-image: url(//path/to/);
  // background-repeat: repeat;
  // background-attachment: fixed;
  // background-size: 100%;
  background-color: #fffffe;
}

::selection,
::-moz-selection {
  background-color: $global-warning-background;
  color: $global-inverse-color;
}

.current-menu-parent,
.current_menu_item,
.current-menu-item,
.current_page_item {
  @extend .uk-active;
}

.uk-table {
  thead {
    background-color: $global-success-background;
  }
  th {
    font-weight: bold!important;
    color: $global-inverse-color;
  }
}

#wp-calendar {
  width: 100%;
}

.wp-calendar-nav {
  display: flex;
  justify-content: space-between;

  a {
    font-weight: bold;
  }
}

.dem-poll-title {
  margin-top: 0!important;
  font-size: 100%!important;
}
